<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="ferp.dao.B_heejunDao">
	<insert id="insertMenu" parameterType="menu">
		INSERT INTO menu VALUES(menu_seq.nextval, #{menuName}, #{price}, #{info}, #{img}, #{necessary}, #{category})
	</insert>
	
	<insert id="insertStore" parameterType="store">
		INSERT INTO store VALUES(store_seq.nextval, #{eno}, #{frName}, #{frOpen}, 
			#{frOperTime}, #{frClosedDte}, #{frRepName}, #{frTel}, #{frAddress}, #{frPass})
	</insert>
</mapper>