<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="menu" type="vo.Menu"/>
		<typeAlias alias="menuSch" type="vo.MenuSch"/>
		<typeAlias alias="notice" type="vo.Notice"/>
		<typeAlias alias="noticeSch" type="vo.NoticeSch"/>
		<typeAlias alias="store" type="vo.Store"/>
		<typeAlias alias="emp" type="vo.Emp"/>
	</typeAliases>
			

	<mappers>
			<mapper resource="ferp/resource/mappers/B2_Mapper.xml"/>
	</mappers>
	
	
</configuration>