@charset "UTF-8";
.p{
	position: relative;
	border:1px solid #efefef;
	display:none;	
}
.adjustAmountBtn{
	width:20%;
	border-radius: 7px;
	border: none;
}
.adjustAmountText{
	width:25%;
	margin: 0 5px 0 5px;
	padding-left: 5px;
}
.rB{
	width: 100%;
	color:white;
	border: none;
}