@charset "UTF-8";

.toolbox {
	background-color: #f8f9fa;
	border-radius: 0.25em;
	border: 1px solid transparent;
	margin-bottom: .5rem;
}

.toolbox h3 {
	padding-top: .5rem;
	padding-left: .5rem;
}

.toolbar {
	margin-top: 0px;
	margin-bottom: .5rem;
	padding: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f8f9fa;
	border-radius: .25rem;
	border: 1px solid transparent;
}

.toolbar div {
	display: inline-block;
}

.toolbar label {
	margin-left: .5rem;
	display: inline-block;
}

.toolbar label input, select {
	display: block;
}

table input {
	width: 100%;
}

table input[type=checkbox] {
	height: 1.4em;
	width: 1.4em;
}

input:disabled {
	background-color: #f8f9fa;
}

.valid-feedback {
	display: none;
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #28a745
}

.invalid-feedback {
	display: block;
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #dc3545
}

.is-valid {
	border-color: #28a745
}

.is-valid:focus {
	border-color: #28a745;
	box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25)
}

.is-invalid {
	border-color: #dc3545
}

.is-invalid:focus {
	box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(220, 53, 69, .25)
}