<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    
    <mapper namespace="ferp.dao.A1_Dao">
		
		<select id="storeLogin" parameterType="store" resultType="store">
			SELECT * 
			FROM STORE
			WHERE frRegiNum = #{frRegiNum}
			AND frPass = #{frPass}
		</select>
		
    </mapper>