<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ferp.dao.A2_Dao">
	<!-- 직원정보조회/등록/수정/삭제 -->
	<select id="storeClerkList" parameterType="storeclerksch" resultType="storeclerk">
		select *
			from (
				select rownum cnt, s.*
				from storeclerk s
				where 1=1
				and clerkname LIKE '%'||#{clerkName}||'%'
				and frRegiNum = #{frRegiNum}
				)
			where cnt between #{start} and #{end}
	</select>
	<select id="clerkTot" resultType="int">
		select count(*)+1001 from storeclerk
	</select>
	<insert id="insStoreclerk" parameterType="storeclerk">
		INSERT INTO storeclerk values(#{clerkNum},#{frRegiNum},#{clerkName},#{residentNum},#{phoneNum},#{address},#{hourlyPay},#{gender})
	</insert>
	<select id="totNum" parameterType="storeclerksch" resultType="int">
		SELECT COUNT(*)
		FROM storeclerk
		WHERE 1=1
		AND clerkname LIKE '%'||#{clerkName}||'%'
		AND frRegiNum = #{frRegiNum}
	</select>
	<update id="uptStoreClerk" parameterType="storeclerk">
		UPDATE storeclerk
			SET clerkName = #{clerkName},
				gender = #{gender},
				residentNum = #{residentNum},
				phoneNum = #{phoneNum},
				address = #{address},
				hourlyPay = #{hourlyPay}
			WHERE clerkNum = #{clerkNum}
	</update>
	<delete id="delStoreClerk" parameterType="string">
		DELETE FROM storeclerk WHERE clerknum = #{clerkNum}
	</delete>
	<!-- 직원 급여액 조회 -->
	<select id="storeClerkPayList" parameterType="storeclerksch" resultType="storeclerk">
		select *
			from (
				select rownum cnt, s.*
				from storeclerk s
				where 1=1
				and clerkname LIKE '%'||#{clerkName}||'%'
				AND frRegiNum = #{frRegiNum}
				)
			where cnt between #{start} and #{end}
	</select>
	<!-- 자재 리스트 조회 -->
	<select id="availProd" parameterType="rqproduct" resultType="rqproduct">
		SELECT p.PRODUCTNUM, CATEGORY , PRODUCTNAME , OPPOSITE , PRICE , IMG , p.REMARK  , frreginum, stockdate, applyamount, remainamount 
		FROM STOCK s , PRODUCT p 
		WHERE STOCKDATE IN 
			(SELECT max(STOCKDATE) FROM stock GROUP BY PRODUCTNUM)
		AND p.PRODUCTNUM = s.PRODUCTNUM 
		AND PRODUCTNAME LIKE '%'||#{productName}||'%'
		AND FRREGINUM = #{frRegiNum}
	</select>
	<!-- 발주 신청 등록 -->
	<insert id="prodOrderReq" parameterType="prodOrder">
		INSERT INTO PRODORDER VALUES(
		(SELECT to_char(to_date(#{orderDate},'yyyy-mm-dd'),'yyyymmdd') FROM dual)||#{demander},
		#{productNum},#{demander},#{supplier},sysdate,#{amount},'정산전','요청')
	</insert>
	<!-- 발주 신청서 조회 -->
	<select id="reqList" parameterType="prodOrder" resultType="prodOrder">
		SELECT po.*, p.img, p.PRODUCTNAME
		FROM PRODUCT p, PRODORDER po
		WHERE p.PRODUCTNUM = po.PRODUCTNUM
		AND ORDERNUM LIKE '%'||#{orderNum}||'%' 
		AND DEMANDER = #{demander}
		ORDER BY to_char(orderdate, 'YYMMDD HH24:MI:SS') DESC
	</select>
	<!-- 발주 신청서 수정 -->
	<update id="uptReqList" parameterType="prodOrder">
		UPDATE (SELECT po.*, p.img, p.PRODUCTNAME
				FROM PRODUCT p, PRODORDER po
				WHERE p.PRODUCTNUM = po.PRODUCTNUM)
			SET amount = #{amount}
		WHERE ordernum = #{orderNum}
		AND productnum = #{productNum}
		AND orderdate = to_date(#{orderDate},'YYYY-MM-DD HH24:MI:SS')
	</update>
	<delete id="delReqList" parameterType="prodOrder">
		DELETE FROM PRODORDER
		WHERE ordernum = #{orderNum}
		AND productnum = #{productNum}
		AND orderdate = to_date(#{orderDate},'YYYY-MM-DD HH24:MI:SS')
	</delete>
</mapper>