<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="ferp.dao.B2_Dao">
	<select id="searchMenu" resultType="menu" parameterType="menuSch">
		SELECT *
		FROM menu
		WHERE menuname LIKE '%'||#{menuName}||'%'
	</select>
	<select id="totCntMenu" resultType="int" parameterType="menuSch">
		select count(*)
		from menu
	</select>
	<insert id="insertMenu" parameterType="menu">
		INSERT INTO menu VALUES('M'||menu_seq.nextval, #{menuName}, #{price}, #{info}, #{img}, #{necessary}, #{category})
	</insert>
	
	
	<!-- 매장정보 등록 -->
	<insert id="insertStore" parameterType="store">
		INSERT INTO store VALUES(#{frRegiNum}, #{eno}, #{frName}, #{frOpen}, 
			#{frOperTime}, #{frClosedDte}, #{frRepName}, #{frTel}, #{frAddress}, #{frPass})
	</insert>
	<!-- 매장정보 수정 -->
	<update id="updateStore" parameterType="store">
		UPDATE store
		SET eno = #{eno},
			frName = #{frName},
			frOpen = #{frOpen},
			frOperTime = #{frOperTime},
			frClosedDte = #{frClosedDte},
			frRepName = #{frRepName},
			frTel = #{frTel},
			frAddress = #{frAddress},
			frPass = #{frPass}
		WHERE FrRegiNum = #{frRegiNum}
	</update>
	<!-- 수정시 매장정보 상세조회 -->
	<select id="detailStore" resultType="store" parameterType="string">
		SELECT *
		FROM store
		WHERE FrRegiNum = #{frRegiNum}
	</select>
	<!-- 매장 비활성화 -->
	<update id="deleteStore" parameterType="string">
		UPDATE store
		SET empNum = '0',
			frOpen = '',
			frOperTime = '',
			frClosedDte = '',
			frTel = '',
			frPass = ''
		WHERE frRegiNum = #{frRegiNum}
	</update>
	
	
	<!-- 직원 등록 -->
	<insert id="insertEmp" parameterType="emp">
		INSERT INTO emp VALUES(to_char(sysdate,'yymm')||emp_seq.nextval, #{pass}, #{ename}, #{dname})
	</insert>
	<!-- 직원 비밀번호 변경 -->
	<update id="updateEmpPass" parameterType="emp">
		UPDATE EMP
			SET pass = #{pass}
		WHERE empNum = #{empNum}	
	</update>
	

	<!-- 중요 공지사항 -->
	<select id="importantNotice" resultType="notice">
		SELECT *
		FROM (
			SELECT * 
			FROM notice 
			WHERE noticeNum LIKE '%'||'N'||'%'
			AND important = 'o'
			AND to_char(regdte, 'yyyymmdd' ) = to_char(sysdate-1, 'yyyymmdd')
			ORDER BY regdte DESC
		)WHERE rownum = 1
	</select>
	<!-- 공지사항 조회 -->
	<select id="searchNotice" resultType="notice" parameterType="noticeSch">
		select *
		from (
			SELECT rownum cnt, n.*
			FROM (
				SELECT* FROM notice n
				WHERE 1=1
				AND title LIKE '%'||''||'%'
				and noticeNum LIKE '%'||'N'||'%'
				ORDER BY regdte DESC)n )
		where cnt between #{start} and #{end}	

	</select>
	<select id="totCntNotice" resultType="int" parameterType="noticeSch">
		select count(*)
		from notice
		where 1=1
		and title like '%'||#{title}||'%'
		and noticeNum LIKE '%'||'N'||'%'
	</select>
	<!-- 공지사항 상세조회 -->
	<select id="detailNotice" resultType="notice" parameterType="string">
		SELECT *
		FROM notice
		WHERE noticeNum = #{noticeNum}
	</select>
	<!-- 조회수 증가-->
	<update id="plusCnt" parameterType="string">
		UPDATE notice
			SET readcnt = readcnt+1
		WHERE noticeNum = #{noticeNum}
	</update>
	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="notice">
		INSERT INTO notice VALUES('N'||notice_seq.nextval, #{title}, #{content}, 
					#{writer}, 0, sysdate, sysdate, #{fname}, #{important}, NULL, NULL, NULL)
	</insert>
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="notice">
		UPDATE notice
		SET title = #{title},
			content = #{content},
			fname = #{fname},
			important = #{important}
		WHERE noticeNum = #{noticeNum}
	</update>
	<!-- 공지사항, 문의글 삭제 -->
	<delete id="deleteNotice">
		DELETE notice
		WHERE noticeNum = #{noticeNum}
	</delete>
	
	
	<!-- 사원 combo -->
	<select id="getHOemp" resultType="emp">
		SELECT *
		FROM emp
	</select>
	<!-- 문의글 카테고리 combo -->
	<select id="getNoticeCategory" resultType="string">
		SELECT *
		FROM noticeCategory
		ORDER BY name DESC
	</select>
	<!-- 메뉴 카테고리 combo -->
	<select id="getMenuCategory" resultType="string">
		SELECT *
		FROM menuCategory
	</select>
	
	
	<!-- 문의글 조회 -->
	<select id="searchQnA" resultType="notice" parameterType="noticeSch">
		select *
		from (
			select rownum cnt, LEVEL, n.*
			from notice n
			where 1=1
			and title like '%'||#{title}||'%'
			and noticeNum LIKE '%'||'Q'||'%'
			START WITH replynum = '0'
			CONNECT BY PRIOR noticeNum = replyNum
			ORDER siblings BY regdte DESC )
		where cnt between #{start} and #{end}	
	</select>
	<select id="totCntQnA" resultType="int" parameterType="noticeSch">
		select count(*)
		from notice
		where 1=1
		and title like '%'||#{title}||'%'
		and noticeNum LIKE '%'||'Q'||'%'
	</select>
	<!-- 문의글 상세 조회 -->
	<select id="detailQnA" resultType="notice" parameterType="string">
		SELECT *
		FROM notice
		WHERE noticeNum = #{noticeNum}
	</select>
	<!-- 문의글 등록 -->
	<insert id="insertQnA" parameterType="notice">
		INSERT INTO notice VALUES('Q'||notice_seq.nextval, #{title}, #{content}, 
					#{writer}, 0, sysdate, sysdate, #{fname}, NULL, #{replyNum}, #{category}, NULL)
	</insert>
	<!-- 문의글 수정 -->
	<update id="updateQnA" parameterType="notice">
		UPDATE notice
		SET title = #{title},
			content = #{content},
			uptdte = sysdate,
			fname = #{fname},
			category = #{category}
		WHERE noticeNum = #{noticeNum}
	</update>
</mapper>