<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ferp.dao.C1_Dao">

	<select id="r7100SelectAccount" resultType="account" parameterType="account">
		SELECT * FROM Account where acntNum Like '%'||#{acntNum}||'%' And acntTitle LIKE '%'||#{acntTitle}||'%'
	</select>

	<insert id="r7101insertAccount" parameterType="account">
		INSERT INTO ACCOUNT
		values(#{acntNum},#{acntGroup},#{acntTitle},#{acntUsing})
	</insert>

	<insert id="r7203insertStatement" parameterType="acstmt">
		INSERT INTO ACSTATEMENT
		values(#{statementNum}||to_char((SELECT count(DISTINCT statementNum)
		<if test="lineNum==0">+1</if> FROM ACSTATEMENT a WHERE TO_CHAR(stmtdate,'YYYY-MM-DD') =#{stmtDate}),'FM0000')
		,#{frRegiNum},#{lineNum},#{acntNum},#{debit},#{credit},#{stmtOpposite,jdbcType=VARCHAR}
		,TO_DATE(#{stmtDate},'YYYY-MM-DD'),#{remark,jdbcType=VARCHAR})
	</insert>

	<select id="r7211selectACStatement" parameterType="acstmt" resultType="acstmt">
	SELECT * FROM ACSTATEMENT a WHERE TO_CHAR(stmtdate,'YYYY-MM-DD') =#{stmtDate}
	AND STATEMENTNUM =
	<if test="statementNum==null or statementNum==''">(SELECT min(STATEMENTNUM) FROM ACSTATEMENT a2)</if>
	<if test="statementNum!=null and statementNum!=''">#{statementNum}</if>
	
	</select>
	
	<update id="r7212updateACStatement" parameterType="acstmt">
	UPDATE ACSTATEMENT SET acntnum= #{acntNum}, debit=#{debit}, credit=#{credit},STMTOPPOSITE =#{stmtOpposite,jdbcType=VARCHAR},REMARK =#{remark,jdbcType=VARCHAR}
	WHERE STATEMENTNUM =#{statementNum} AND TO_CHAR(stmtdate,'YYYY-MM-DD') = #{stmtDate} AND lineNum=#{lineNum}
	</update>
	
	<delete id="r7213deleteACStatement" parameterType="acstmt">
	DELETE FROM ACSTATEMENT WHERE STATEMENTNUM =#{statementNum} AND TO_CHAR(stmtdate,'YYYY-MM-DD') = #{stmtDate}
	</delete>

</mapper>