<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ferp.dao.C1_Dao">

	<select id="r7100SelectAccount" resultType="account" parameterType="account">
		SELECT * FROM Account 
		where acntNum Like '%'||#{acntNum}||'%' 
		And acntTitle LIKE '%'||#{acntTitle}||'%'
		and acntUsing = #{acntUsing}
	</select>

	<insert id="r7101insertAccount" parameterType="account">
		INSERT INTO ACCOUNT
		values(#{acntNum},#{acntGroup},#{acntTitle},#{acntUsing})
	</insert>

	<insert id="r7210insertStatement" parameterType="acstmt">
		INSERT INTO ACSTATEMENT VALUES(
		#{statementNum}||(SELECT nvl(substr(MAX(statementNum),3,5),1000)<if test="lineNum==0">+1</if> FROM ACSTATEMENT a WHERE STMTDATE = TO_DATE(#{stmtDate},'YYYY-MM-DD')),
		#{frRegiNum},#{lineNum},TO_DATE(#{stmtDate},'YYYY-MM-DD'),
		#{acntNum},#{debit},#{credit},#{stmtOpposite,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
	</insert>

	<select id="r7211selectACStatement" parameterType="acstmt" resultType="acstmt">
	SELECT * FROM ACSTATEMENT a WHERE TO_CHAR(stmtdate,'YYYY-MM-DD') =#{stmtDate}
	AND STATEMENTNUM =
	<if test="statementNum==null or statementNum==''">(SELECT min(STATEMENTNUM) FROM ACSTATEMENT a2)</if>
	<if test="statementNum!=null and statementNum!=''">#{statementNum}</if>
	
	</select>
	
	<update id="r7212updateACStatement" parameterType="acstmt">
	UPDATE ACSTATEMENT SET acntnum= #{acntNum}, debit=#{debit}, credit=#{credit},STMTOPPOSITE =#{stmtOpposite,jdbcType=VARCHAR},REMARK =#{remark,jdbcType=VARCHAR}
	WHERE STATEMENTNUM =#{statementNum} AND TO_CHAR(stmtdate,'YYYY-MM-DD') = #{stmtDate} AND lineNum=#{lineNum}
	</update>
	
	<delete id="r7213deleteACStatement" parameterType="acstmt">
	DELETE FROM ACSTATEMENT WHERE STATEMENTNUM =#{statementNum} AND TO_CHAR(stmtdate,'YYYY-MM-DD') = #{stmtDate}
	</delete>
	
	
	<select id="r7204selectStatementList" parameterType="acstmt" resultType="acstmt">
	SELECT STATEMENTNUM,
		CASE WHEN acntgroup='비용' THEN debit-credit 
		WHEN acntgroup='자산' THEN debit-credit
		ELSE CREDIT - debit END AS DEBIT,
	STMTOPPOSITE,TO_CHAR(STMTDATE,'YYYY-MM-DD') "STMTDATE", REMARK 
	FROM ACSTATEMENT s , ACCOUNT a
	WHERE s.ACNTNUM = a.ACNTNUM 
	AND s.ACNTNUM = #{acntNum}
	AND (<if test="stmtOpposite=='' or stmtOpposite==null">STMTOPPOSITE IS NULL OR</if> STMTOPPOSITE LIKE '%'||#{stmtOpposite,jdbcType=VARCHAR}||'%')
	AND STMTDATE BETWEEN TO_DATE(#{stmtDate},'YYYY-MM-DD') AND TO_DATE(#{stmtDate2},'YYYY-MM-DD')
	AND FRREGINUM = #{frRegiNum}
	</select>
	
	<select id="r7204selectStatementListByDate" parameterType="acstmt" resultType="acstmt">
	SELECT TO_CHAR(STMTDATE,'YYYY-MM-DD') as "STMTDATE",
		sum(CASE WHEN acntgroup='비용' THEN debit-credit 
		WHEN acntgroup='자산' THEN debit-credit
		ELSE CREDIT - debit END) AS DEBIT
	FROM ACSTATEMENT s , ACCOUNT a
	WHERE s.ACNTNUM = a.ACNTNUM 
	AND s.ACNTNUM = #{acntNum}
	AND (<if test="stmtOpposite=='' or stmtOpposite==null">STMTOPPOSITE IS NULL OR</if> STMTOPPOSITE LIKE '%'||#{stmtOpposite,jdbcType=VARCHAR}||'%')
	AND STMTDATE BETWEEN TO_DATE(#{stmtDate},'YYYY-MM-DD') AND TO_DATE(#{stmtDate2},'YYYY-MM-DD')
	AND FRREGINUM = #{frRegiNum}
	GROUP BY STMTDATE
	</select>
	
	<select id="selectActiveStore" resultType="store">
	select * from store where frPass IS NOT NULL 
	</select>

</mapper>