<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ferp.dao.C2_Dao">

	<!-- 본사/매장 재고 조회 -->
	<select id="r8101ProductList" resultType="productProdOrder" parameterType="productProdOrder">
		SELECT p.*, s.stockDate, s.REMAINAMOUNT, s.FRREGINUM 
		FROM PRODUCT p, STOCK s
		WHERE p.PRODUCTNUM = s.PRODUCTNUM
		AND s.FRREGINUM = #{frRegiNum,jdbcType=VARCHAR, index=1}
		AND (s.PRODUCTNUM, s.STOCKDATE) IN (
		    SELECT PRODUCTNUM, MAX(STOCKDATE)
		    FROM STOCK
		    WHERE FRREGINUM = #{frRegiNum,jdbcType=VARCHAR, index=1}
		    GROUP BY PRODUCTNUM
		)
		AND s.stockDate LIKE '%'|| to_date(#{stockDate},'YYYY-MM-DD')||'%'
		AND p.productNum LIKE '%'||upper(#{productNum})||'%'
		AND category LIKE '%'||#{category}||'%'
		AND productName LIKE '%'||#{productName}||'%'
		AND opposite LIKE '%'||#{opposite}||'%'
	</select>
	
	<!-- 본사/매장 재고 상세 페이지 -->
	<select id="r8101ProductInfo" resultType="product" parameterType="string">
		SELECT *
		FROM PRODUCT
		WHERE productNum like '%'||#{productNum,jdbcType=VARCHAR}||'%'
	</select>
	
	<!-- 본사/매장 재고 관리 조회 -->
	<select id="r8204InoutList" resultType="productProdOrder" parameterType="productProdOrder">
		SELECT s.STOCKDATE ,p.category ,p.PRODUCTNUM ,p.PRODUCTNAME ,p.PRICE ,s.APPLYAMOUNT 
		FROM PRODUCT p, STOCK s
		WHERE p.PRODUCTNUM = s.PRODUCTNUM
		AND s.FrRegiNum = #{frRegiNum,jdbcType=VARCHAR}
	</select>
	
	<!-- 매장 재고 관리 등록 -->
	<insert id="r8103InoutIns" parameterType="stock">
		INSERT INTO STOCK 
		VALUES (#{productNum,jdbcType=VARCHAR, index=1}, #{frRegiNum,jdbcType=VARCHAR, index=3}, sysdate, -#{applyAmount, index=2}, 
        (SELECT REMAINAMOUNT - #{applyAmount, index=2}
        	FROM STOCK 
			WHERE PRODUCTNUM = #{productNum,jdbcType=VARCHAR, index=1} 
			AND STOCKDATE = (SELECT MAX(STOCKDATE) 
	         	FROM STOCK 
	         	WHERE PRODUCTNUM = #{productNum,jdbcType=VARCHAR, index=1}
	         	and frRegiNum = #{frRegiNum,jdbcType=VARCHAR, index=3})), null)
	</insert>
	
	<!-- 매장 재고 관리 수정 -->
	<update id="" parameterType="stock">
		UPDATE STOCK 
		SET APPLYAMOUNT = #{applyAmount,jdbcType=NUMBER,INDEX=1},
		    REMAINAMOUNT = (
		        SELECT REMAINAMOUNT + #{applyAmount,jdbcType=NUMBER,INDEX=1} - APPLYAMOUNT 
		        FROM (
		            SELECT REMAINAMOUNT, ROW_NUMBER() OVER (ORDER BY STOCKDATE DESC) AS RN 
		            FROM STOCK 
		            WHERE PRODUCTNUM = #{productNum,jdbcType=VARCHAR,INDEX=2}
		        ) T 
		        WHERE RN = 1
		    )
		WHERE PRODUCTNUM = #{productNum,jdbcType=VARCHAR,INDEX=2} 
		AND STOCKDATE = (SELECT MAX(STOCKDATE) 
			FROM STOCK WHERE PRODUCTNUM = #{productNum,jdbcType=VARCHAR,INDEX=2})
	</update>
	
	<!-- 매장 재고 관리 삭제 -->
	<delete id="inoutDelete">
		DELETE FROM STOCK 
		WHERE PRODUCTNUM = #{productNum}
		AND APPLYAMOUNT = #{applyAmount} 
		AND REMAINAMOUNT = #{remainAmount}
	</delete>
	
	<!-- 본사 재고 등록 -->
	<insert id="r8202ProductIns" parameterType="product">
		INSERT INTO PRODUCT
		values('PD'||FERD.PDSEQ.NEXTVAL,#{category},
		#{productName},#{opposite},#{price},#{img},#{remark})
	</insert>
	
	<!-- 본사 재고 수정 -->
	<update id="r8203ProductUpt" parameterType="product">
		UPDATE PRODUCT 
		SET REMARK  = #{remark}
		WHERE PRODUCTNUM = #{productNum,jdbcType=VARCHAR}
	</update>
		
	<!-- 발주 상태 콤보 -->
	<select id="productNumCom" resultType="string">
		SELECT DISTINCT productNum
		FROM STOCK
	</select>
	
	<!-- 직원스케줄 캘린더 등록 -->
	
	<!-- 직원스케줄 캘린더 -->
	<resultMap type="scheduleCalender" id="calMap">
		<result column="frRegiNum" property="writer"/>
		<result column="onDay" property="start"/>
		<result column="offDay" property="end"/>
	</resultMap>
	<select id="sclerkschd" resultMap="calMap">
	SELECT * FROM clerkSchedule
	WHERE frRegiNum = #{writer}
	</select>
	
</mapper>