<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ferp.dao.C2_Dao">

	<select id="r8101ProductList" resultType="productProdOrder" parameterType="productProdOrder">
		SELECT p.*, s.stockDate, s.REMAINAMOUNT 
		FROM PRODUCT p, STOCK s
		WHERE p.PRODUCTNUM = s.PRODUCTNUM
		AND s.STOCKDATE = (SELECT MAX(STOCKDATE) FROM STOCK s2 WHERE s2.PRODUCTNUM = p.PRODUCTNUM)
		AND stockDate LIKE '%'|| to_date(#{stockDate},'YYYY-MM-DD')||'%'
		AND p.productNum LIKE '%'||upper(#{productNum})||'%'
		AND category LIKE '%'||upper(#{category})||'%'
		AND productName LIKE '%'||upper(#{productName})||'%'
		AND opposite LIKE '%'||upper(#{opposite})||'%'
		
	</select>

	<select id="r8201ProductList" resultType="productProdOrder" parameterType="productProdOrder">
		SELECT p.PRODUCTNUM ,p.CATEGORY ,p.PRODUCTNAME
		,p.OPPOSITE ,p.PRICE ,p2.AMOUNT ,p2.ORDERSTATE ,p.REMARK
		FROM PRODUCT p , PRODORDER p2
		WHERE p.PRODUCTNUM = p2.PRODUCTNUM
		AND p.productNum LIKE '%'||#{productNum}||'%'
		AND category LIKE '%'||#{category}||'%'
		AND productName LIKE '%'||#{productName}||'%'
		AND opposite LIKE '%'||#{opposite}||'%'
		AND orderState LIKE '%'||#{orderState}||'%'
	</select>
	
	<select id="r8101ProductInfo" resultType="product" parameterType="string">
		SELECT *
		FROM PRODUCT
		WHERE productNum = #{productNum}
	</select>
	
	<select id="r8201ProductInfo" resultType="product" parameterType="string">
		SELECT *
		FROM PRODUCT
		WHERE productNum = #{productNum}
	</select>
	
	<select id="orderStateCom" resultType="string">
		SELECT DISTINCT orderState
		FROM PRODORDER
	</select>
	
	<insert id="r8202ProductIns" parameterType="product">
		INSERT INTO PRODUCT
		values('PD'||pdSeq.nextval,#{category},
		#{productName},#{opposite},#{price},#{img},#{remark})
	</insert>
	
	<update id="r8203ProductUpt" parameterType="product">
		UPDATE PRODUCT
		SET productNum = #{productNum},
			category = #{category},
			productName = #{productName},
			opposite = #{opposite},
			price = #{price},
			img = #{img},
			remark = #{remark}
		WHERE productNum = #{productNum}
	</update>
	
	
	
</mapper>